* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

button:hover {
  cursor: pointer;
}

.wrapper {
  padding: 45px 100px;
  max-width: 100rem;
  margin: 0 auto;
}

/*header styling*/

.logo {
  font-size: 2vw;
  letter-spacing: 0.2rem;
  color: rgb(93, 83, 83);
}

.nav-links a {
  all: unset;
  cursor: pointer;
  /* padding-bottom: 4px;  */
}

.nav-links a.active {
  /* border: 2px solid black; */
  padding: 8px 10px;
  background-color: rgb(93, 83, 83);
  color: white;
  border-radius: 5px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-links {
  font-size: 1.1rem;
  letter-spacing: 0.04rem;
  color: rgb(93, 83, 83);
}
.nav-list {
  list-style: none;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  gap: 30px;
  font-weight: bold;
}

.hamberger-menu {
  display: none;
}

/* container styling*/

.container {
  padding: 30px 0;
}

.about {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: #eaf3f3;
  border-radius: 5px;
}

.summary {
  margin-left: 15px;
  text-align: center;
  h1 {
    font-size: 4.5vw;
    text-align: center;
    letter-spacing: 0.27rem;
    color: rgb(66, 65, 65);
  }

  h2 {
    font-size: 3.5vw;
    margin-top: -10px;
    letter-spacing: 0.27rem;
    color: rgb(94, 94, 94);
  }

  p {
    font-size: 1.2vw;
    color: gray;
    margin-top: 25px;
    margin-bottom: 40px;
    letter-spacing: 0.27rem;
  }
}

.buttons {
  padding-bottom: 15px;
  button {
    background: none;
    padding: 12px 30px;
    font-size: 1vw;
    border-radius: 15px;
  }
}

.resume {
  color: white;
  background-color: rgb(7, 98, 235) !important;
  border: none;
  letter-spacing: 0.1rem;
}

.github {
  margin-left: 17px;
  border: 1px solid rgb(114, 14, 228);
  color: rgb(114, 14, 228);
  letter-spacing: 0.1rem;
}

.resume:hover {
  background-color: rgb(25, 88, 189) !important;
}

.github:hover {
  background-color: rgb(114, 14, 228);
  color: white;
}

.photo img {
  width: 300px;
  height: auto;
  object-fit: contain;
  max-width: 100%;
  display: block;
  border-radius: 50%;
  padding-top: 15px;
}

/*styling for experience*/

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  /* background-color: #f0e9f1;  */
  /* background-color: #d5efe4; */
  background-color: ghostwhite;
  margin-top: 50px;
  padding: 30px;
  border-radius: 5px;
}

.experience {
  font-size: 3vw;
  margin-bottom: 20px;
  color: #4c749c;
}

.card-components {
  display: flex;
  justify-content: space-evenly;
  padding-bottom: 15px;
}

.card {
  width: 30%;
  overflow: hidden;
  background-color: white;
  /* padding: 10px; */
  border-radius: 10px;
}

.card-bottom {
  padding: 12px;
  /* background: ghostwhite; */
}

.card img {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
  aspect-ratio: 16/9;
}
.card h2 {
  font-size: 1.3vw;
  letter-spacing: 0.1rem;
  color: rgb(58, 58, 58);
  padding-top: 6px;
}

.card h3 {
  font-size: 1.1vw;
  letter-spacing: 0.1rem;
  color: rgb(99, 97, 97);
}

.card p {
  padding: 20px 0;
  font-size: 0.8vw;
  color: rgb(127, 124, 124);
  letter-spacing: 0.03rem;
}

.card button {
  border: none;
  padding: 10px 30px;
  background: #6c4d9e;
  color: #ffffff;
  border-radius: 5px;
  font-weight: bold;
}

.card button:hover {
  background-color: #59319b;
}

/* skills styling */

.skills-container {
  padding-top: 20px;
}

.skills-container h1 {
  text-align: center;
  font-size: 3vw;
  margin-bottom: 1rem;
  border-bottom: 2px solid rgb(205 205 205);
  padding-bottom: 10px;
}

.skills-bar > div {
  margin-bottom: 20px;
}

.skills-bar p {
  font-weight: bold;
}

.h-bar {
  width: 95%;
  background-color: rgb(30, 192, 21);
}

.c-bar {
  width: 80%;
  background-color: rgb(30, 192, 21);
}

.js-bar {
  width: 80%;
  background-color: rgb(30, 192, 21);
}

.r-bar {
  width: 65%;
  background-color: rgb(30, 192, 21);
}

.n-bar {
  width: 65%;
  background-color: rgb(30, 192, 21);
}

.ms-bar {
  width: 70%;
  background-color: rgb(30, 192, 21);
}

.g-bar {
  width: 75%;
  background-color: rgb(30, 192, 21);
}

.jv-bar {
  width: 70%;
  background-color: rgb(30, 192, 21);
}

.p-bar {
  width: 80%;
  background-color: rgb(30, 192, 21);
}

.sk {
  background-color: rgb(192, 192, 192);
  width: 100%;
  margin-top: 10px;
}

.percentage {
  padding: 5px;
  color: white;
  text-align: center;
  font-weight: bold;
}

/* contact */

.contact-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 40px;
}

.contact .left .right {
  width: 50%;
}

.icon {
  display: flex;
  gap: 10px;
}

.call-me {
  margin-bottom: 15px;
  margin-top: 35px;
}

.left {
  width: 100%;
  height: 100%;
}

.left-title {
  font-size: 2vw;
  color: rgb(125, 123, 123);
}

.call-me,
.email-me {
  color: rgb(128, 126, 126);
}

.right {
  background-color: #f5f9fb;
  padding: 100px 50px;
  width: 100%;
}

.contact-title {
  font-size: 2vw;
  padding-bottom: 20px;
}

.name-email {
  display: flex;
  gap: 16px;
  margin-bottom: 20px;
}

.name,
.email {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.name input,
.email input {
  width: 100%;
  padding: 8px;
}

.comp-name input {
  width: 100%;
  padding: 8px;
}

.message input {
  width: 100%;
}

.message {
  margin-top: 20px;
}

.message-button {
  border: none;
  padding: 10px 30px;
  font-size: 1.2vw;
  background: #07aced;
  color: white;
  border-radius: 5px;
  font-weight: bold;
  margin-top: 5px;
}

.message-button:hover {
  background-color: #1a8bb8;
}

textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
}

.contact-info input,
textarea {
  border: none;
}

.contact-info input::placeholder {
  padding: 4px;
  color: rgb(164, 164, 164);
}

.contact-info textarea::placeholder {
  padding: 4px;
  color: rgb(164, 164, 164);
}

/*mobile styling*/
@media (max-width: 768px) {
  .wrapper {
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .container {
    padding-top: 0;
  }

  .about {
    display: flex;
    flex-direction: column-reverse;
    padding-top: 25px;
    padding-bottom: 25px;
  }
  .logo {
    font-size: 1.1rem;
  }

  .navbar {
    padding: 18px 35px;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    right: 0;
    align-items: center;
    display: none;
    background-color: white;
  }

  .nav-list.active {
    display: block;
  }

  .nav-links {
    text-align: center;
    margin: 10px;
  }

  .hamberger-menu {
    display: block;
    border: 1px solid black;
    padding: 5px 10px;
    border-radius: 5px;
  }

  .summary {
    text-align: center;

    h1 {
      font-size: 5.2vw;
      letter-spacing: 0.21rem;
      margin-top: 10px;
      color: rgb(66, 65, 65);
    }
    h2 {
      font-size: 4.5vw;
      letter-spacing: 0.21rem;
      color: rgb(94, 94, 94);
      margin-top: 2px;
    }
    p {
      font-size: 2.5vw;
      text-align: center;
      margin-top: 8px;
      margin-bottom: 20px;
    }
  }

  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .buttons button {
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2.5vw;
  }

  .photo {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .photo img {
    position: static;
    width: 250px;
    box-shadow: 0 15px 15px -5px rgba(0, 0, 0, 0.3);
    padding-top: 0;
  }

  /* experience styling */

  .projects {
    margin-top: 0;
    padding-bottom: 0;
    padding: 45px;
  }

  .projects .card-components {
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  .projects .card {
    margin-bottom: 20px;
  }

  .experience {
    font-size: 7.5vw;
  }

  .projects h2 {
    font-size: 5.8vw;
    padding-top: 15px;
  }

  .projects h3 {
    font-size: 4.9vw;
  }

  .projects p {
    font-size: 3vw;
  }

  .projects button {
    width: 100%;
    padding: 10px 0;
  }

  /* skill styling */

  .skills-container {
    padding: 15px;
  }

  .skills-container h1 {
    font-size: 7.5vw;
    margin-bottom: 1rem;
    border-bottom: 2px solid rgb(205 205 205);
    padding-bottom: 10px;
  }

  .skills-bar {
    text-align: center;
  }

  .skills-bar p {
    font-weight: bold;
  }

  /* contact styling */

  .contact-info {
    flex-direction: column-reverse;
  }
}

@media (min-width: 1024px) {
  .wrapper {
    padding: 45px 150px;
  }
}
